version: '3.8'

networks:
  app-network:
    driver: bridge
    name: proxy_buy_network # <--- 确保有这一行

services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "3001:80"
    depends_on:
      backend:
        condition: service_healthy # Nginx will wait for the backend to be healthy
    networks:
      - app-network

  redis:
    image: redis:6-alpine
    restart: unless-stopped
    networks:
      - app-network

  postgres:
    image: postgres:14-alpine
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
      # args:
      #   HTTP_PROXY: http://host.docker.internal:7890
      #   HTTPS_PROXY: http://host.docker.internal:7890
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    healthcheck:
      # This check ensures the backend is ready to accept connections before Nginx starts proxying
      test: [ "CMD", "curl", "-f", "http://localhost:3000" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s # Give PM2 and NestJS time to start up
    env_file:
      - .env # Set back to 0 to use all available CPU cores
    ports:
      - "3000:3000" # 将容器的 3000 端口映射到宿主机的 3000 端口
    volumes:
      - ./packages/backend/src:/usr/src/app/src
      # - ./public:/usr/src/app/public
    restart: unless-stopped
    networks:
      - app-network

volumes:
  postgres_data:
