version: '3.8'

networks:
  app-network:
    driver: bridge

services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "3001:80"
    depends_on:
      backend:
        condition: service_healthy # Nginx will wait for the backend to be healthy
    networks:
      - app-network

  redis:
    image: redis:6-alpine
    restart: unless-stopped
    networks:
      - app-network

  postgres:
    image: postgres:14-alpine
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    healthcheck:
      # This check ensures the backend is ready to accept connections before Nginx starts proxying
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s # Give PM2 and NestJS time to start up
    environment:
      DATABASE_URL: "postgresql://user:password@postgres:5432/restaurant_saas?schema=public&connection_limit=100"
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: restaurant_saas
      REDIS_HOST: redis
      REDIS_PORT: 6379
      cpu_count: 0 # Set back to 0 to use all available CPU cores
    volumes:
      - ./src:/usr/src/app/src
    restart: unless-stopped
    networks:
      - app-network

volumes:
  postgres_data: